<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Registro de categorías
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="registraCategoriaForm" (ngSubmit)="guardar()">
          <div class="row">
            <div class="col-md-12">
              <nb-alert status="danger"
                *ngIf="registraCategoriaForm.get('descripCategoria').hasError('required') && registraCategoriaForm.get('descripCategoria').touched">
                Debe de ingresar una descripción menor a 100 carácteres
              </nb-alert>
              <label class="label">Descripción de categoria</label>
              <textarea rows="3" formControlName="descripCategoria" nbInput fullWidth></textarea>
            </div>
          </div>
          <button type="submit" [disabled]="registraCategoriaForm.invalid" nbButton status="primary">Guardar</button>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button (click)="limpiar()" nbButton status="danger">Cancelar</button>
        <button [routerLink]="['../ListarCategoria']" nbButton status="success"> Atrás</button>
      </nb-card-footer>

    </nb-card>
  </div>
</div>