<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> Registro del personal </nb-card-header>
      <nb-card-body>
        <form
          [formGroup]="personaForm"
          *ngIf="personaForm"
          (ngSubmit)="guardar()"
        >
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label class="label">Cédula</label>

                <input
                  type="text"
                  formControlName="cedula"
                  mask="000-000000-0000A"
                  placeholder="000-000000-0000A"
                  nbInput
                  fullWidth
                />
                <div
                  *ngIf="
                    personaForm.get('cedula').invalid &&
                    personaForm.get('cedula').touched
                  "
                >
                  <p
                    class="caption status-danger"
                    *ngIf="
                      personaForm.get('cedula').hasError('required') ||
                      personaForm.get('cedula').hasError('incorrecto')
                    "
                  >
                    La identificación es requerida
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="personaForm.get('cedula').hasError('maxlength')"
                  >
                    La identificación tiene que tener máximo 60 carácteres
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="personaForm.get('cedula').hasError('minlength')"
                  >
                    La identificación tiene que poseer mínimo 16 carácteres
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="label">Cargo que desempeña</label>
                <select class="form-control" formControlName="cargoId">
                  <option value="">Seleccione</option>
                  <option [ngValue]="item" *ngFor="let item of cargos">
                    {{ item.desCargo }}
                  </option>
                </select>

                <p
                  class="caption status-danger"
                  *ngIf="
                    personaForm.get('cargoId').hasError('required') &&
                    personaForm.get('cargoId').touched
                  "
                >
                  El cargo del usuario es obligatorio
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="label">Primer nombre</label>
                <input
                  type="text"
                  formControlName="pNombre"
                  nbInput
                  fullWidth
                />
                <div
                  *ngIf="
                    personaForm.get('pNombre').invalid &&
                    personaForm.get('pNombre').touched
                  "
                >
                  <p
                    class="caption status-danger"
                    *ngIf="
                      personaForm.get('pNombre').hasError('required') ||
                      personaForm.get('pNombre').hasError('incorrecto')
                    "
                  >
                    El primer nombre es obligatorio
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="personaForm.get('pNombre').hasError('maxlength')"
                  >
                    El nombre no puede ser mayor a 32 carácteres
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="label">Segundo nombre</label>
                <input
                  type="text"
                  formControlName="sNombre"
                  nbInput
                  fullWidth
                />
                <p
                  class="caption status-danger"
                  *ngIf="
                    personaForm.get('sNombre').hasError('maxlength') &&
                    personaForm.get('sNombre').touched
                  "
                >
                  El segundo nombre no puede ser mayor a 32 carácteres
                </p>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="label">Estado</label>
                <select class="form-control" formControlName="estado">
                  <option *ngFor="let e of estado" [value]="e.esActivo">
                    {{ e.Estado }}
                  </option>
                </select>
                <p
                  class="caption status-danger"
                  *ngIf="
                    personaForm.get('estado').hasError('required') &&
                    personaForm.get('estado').touched
                  "
                >
                  Debe de seleccionar un estado
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="label">Primer apellido</label>
                <input
                  type="text"
                  formControlName="pApellido"
                  nbInput
                  fullWidth
                />
                <div
                  *ngIf="
                    personaForm.get('pApellido').invalid &&
                    personaForm.get('pApellido').touched
                  "
                >
                  <p
                    class="caption status-danger"
                    *ngIf="
                      personaForm.get('pApellido').hasError('required') ||
                      personaForm.get('pApellido').hasError('incorrecto')
                    "
                  >
                    El primer apellido es obligatorio
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="personaForm.get('pApellido').hasError('maxlength')"
                  >
                    Debe de ingresar un dato menor a 32 carácteres
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="label">Segundo apellido</label>
                <input
                  type="text"
                  formControlName="sApellido"
                  nbInput
                  fullWidth
                />
                <p
                  class="caption status-danger"
                  *ngIf="
                    personaForm.get('sApellido').hasError('maxlength') &&
                    personaForm.get('sApellido').touched
                  "
                >
                  Debe de ingresar un dato menor a 32 carácteres
                </p>
              </div>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="personaForm.invalid"
            nbButton
            status="primary"
          >
            Guardar
          </button>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button (click)="limpiar()" nbButton class="caption status-danger">
          Cancelar
        </button>
        <button [routerLink]="['../ListarPersona']" nbButton status="success">
          Atrás
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
