<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Editar áreas</nb-card-header>

      <nb-card-body>
        <form [formGroup]="areaForm" *ngIf="areaForm" (ngSubmit)="editar()">
          <textarea
            rows="5"
            formControlName="desArea"
            nbInput
            fullWidth
            shape="round"
            placeholder="Descripción del área"
          ></textarea>
          <div
            *ngIf="
              areaForm.get('desArea').invalid && areaForm.get('desArea').touched
            "
          >
            <p
              class="caption status-danger"
              *ngIf="
                areaForm.get('desArea').hasError('required') ||
                areaForm.get('desArea').hasError('incorrecto')
              "
            >
              La descripción es obligatoria
            </p>
            <p
              class="caption status-danger"
              *ngIf="areaForm.get('desArea').hasError('maxlength')"
            >
              Debe de ingresar una descripción menor a 512 carácteres
            </p>
          </div>
          <button
            type="submit"
            [disabled]="areaForm.invalid"
            nbButton
            status="primary"
          >
            Guardar
          </button>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button [routerLink]="['../../ListarAreas']" nbButton status="success">
          Atrás
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
