<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> Editar vehiculo </nb-card-header>
      <nb-card-body>
        <form
          [formGroup]="vehiculoForm"
          (ngSubmit)="editar()"
          *ngIf="vehiculoForm"
        >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="label">Descripción</label>
                <textarea
                  formControlName="desVehiculo"
                  nbInput
                  fullWidth
                  rows="3"
                ></textarea>

                <div
                  *ngIf="
                    vehiculoForm.get('desVehiculo').invalid &&
                    vehiculoForm.get('desVehiculo').touched
                  "
                >
                  <p
                    class="caption status-danger"
                    *ngIf="
                      vehiculoForm.get('desVehiculo').hasError('required') ||
                      vehiculoForm.get('desVehiculo').hasError('incorrecto')
                    "
                  >
                    La descripción es requerida
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="
                      vehiculoForm.get('desVehiculo').hasError('maxlength')
                    "
                  >
                    Debe de ingresar una descripción menor a 512 carácteres
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="label">Número de placa</label>
                <input type="text" formControlName="placa" nbInput fullWidth />

                <div
                  *ngIf="
                    vehiculoForm.get('placa').invalid &&
                    vehiculoForm.get('placa').touched
                  "
                >
                  <p
                    class="caption status-danger"
                    *ngIf="
                      vehiculoForm.get('placa').hasError('required') ||
                      vehiculoForm.get('placa').hasError('incorrecto')
                    "
                  >
                    La placa es requerida
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="vehiculoForm.get('placa').hasError('maxlength')"
                  >
                    Debe de ingresar una placa menor a 32 carácteres
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="label">Modelo</label>
                <input type="text" formControlName="modelo" nbInput fullWidth />
                <p
                  class="caption status-danger"
                  *ngIf="
                    vehiculoForm.get('modelo').hasError('maxlength') &&
                    vehiculoForm.get('modelo').touched
                  "
                >
                  Debe de ingresar un modelo menor a 32 carácteres
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="label">Marca</label>
                <input type="text" formControlName="marca" nbInput fullWidth />
                <p
                  class="caption status-danger"
                  *ngIf="
                    vehiculoForm.get('marca').hasError('maxlength') &&
                    vehiculoForm.get('marca').touched
                  "
                >
                  Debe de ingresar una marca menor a 32 carácteres
                </p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                <label class="label">Estado</label>
                <nb-select
                  shape="semi-round"
                  placeholder="Seleccione un estado del vehículo"
                  formControlName="estado"
                >
                  <nb-option
                    *ngFor="let e of estadoVehiculo"
                    [value]="e.esDisponible"
                    >{{ e.estado }}</nb-option
                  >
                </nb-select>
                <p
                  *ngIf="
                    vehiculoForm.get('estado').invalid &&
                    vehiculoForm.get('estado').touched &&
                    vehiculoForm.get('estado').hasError('required')
                  "
                >
                  El estado es requerido
                </p>
              </div>
            </div>
          </div>
          <button
            id="b1"
            class="b1"
            type="submit"
            [disabled]="vehiculoForm.invalid"
            nbButton
            status="primary"
          >
            Editar
          </button>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button
          [routerLink]="['../../ListarVehiculo']"
          nbButton
          status="success"
        >
          Atrás
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
