<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> Editar sectores </nb-card-header>
      <nb-card-body>
        <form [formGroup]="sectorForm" *ngIf="sectorForm" (ngSubmit)="editar()">
          <div class="row">
            <div class="col-md-12">
              <label class="label">Descripción del sector</label>
              <textarea
                rows="3"
                formControlName="desSector"
                nbInput
                fullWidth
              ></textarea>

              <div
                *ngIf="
                  sectorForm.get('desSector').touched &&
                  sectorForm.get('desSector').invalid
                "
              >
                <p
                  class="caption status-danger"
                  *ngIf="sectorForm.get('desSector').hasError('required')"
                >
                  La descripción es requerida
                </p>
                <p
                  class="caption status-danger"
                  *ngIf="sectorForm.get('desSector').hasError('maxlength')"
                >
                  Debe de ingresar una descripción menor a 128 carácteres
                </p>

                <p
                  class="caption status-danger"
                  *ngIf="sectorForm.get('desSector').hasError('whitespace')"
                >
                  Ingrese una descripción válida
                </p>
              </div>
            </div>
          </div>
          <button
            id="b1"
            class="b1"
            type="submit"
            [disabled]="sectorForm.invalid"
            nbButton
            status="primary"
          >
            Editar
          </button>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button [routerLink]="['../../ListarSector']" nbButton status="success">
          Atrás
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
