<nb-card>
  <nb-card-header>Asignar personas</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <label class="label">Personal</label>
          <br />
          <!-- <ng-autocomplete
            [data]="areas"
            [searchKeyword]="keyword"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            placeholder="Ingrese el área"
            (selected)="reconstruir($event)"
            notFoundText="No se encontró"
          >
          </ng-autocomplete>
  
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.desArea"></a>
          </ng-template>
  
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template> -->

          <!-- Segunda manera de ejecutar un método, tras la selección de una opción -->
          <!-- <nb-select placeholder="Área" class="col-md-12" shape="semi-round" (selectedChange)="reconstruirPersonalTotal($event)">
            <nb-option
            *ngFor="let a of areas"
           
            [value]="a.idArea"
            >{{ a.desArea }}</nb-option
          >
          </nb-select> -->

          <nb-select placeholder="Área" class="col-md-12" shape="semi-round">
            <nb-option
              *ngFor="let a of areas"
              (click)="reconstruirPersonalTotal(a)"
              [value]="a.idArea"
              >{{ a.desArea }}</nb-option
            >
          </nb-select>
        </div>
        <br />

        <ng2-smart-table
          [settings]="settingsPersonalTotal"
          [source]="smartPersonalTotal"
          (edit)="agregarATablaPersonalAsignado($event)"
        >
        </ng2-smart-table>
      </div>

      <div class="col-md-6">
        <div class="text-center">
          <label class="label">Personal asignado</label>

          <br />
          <div class="text-left">
            <div *ngIf="tablaEsllenadoDB">
              <button
                nbButton
                [disabled]="nuevosElementos.length == 0"
                status="info"
                (click)="actualizarDetalles()"
              >
                Actualizar
              </button>
            </div>

            <div *ngIf="tablaEsllenadoDB == false">
              <button
                nbButton
                [disabled]="tablaEsllenadoDB"
                status="success"
                (click)="grabarDetalles()"
              >
                Grabar
              </button>
            </div>
          </div>

          <ng2-smart-table
            [settings]="settingsPersonalAsignado"
            [source]="smartPersonalAsignado"
            (delete)="quitar($event)"
          >
          </ng2-smart-table>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="danger" (click)="cerrar()">Cancelar</button>
  </nb-card-footer>
</nb-card>
