<h1 id="title" class="title">¡Olvidé mi clave!</h1>
<p class="sub-title">
  Ingrese su cuenta de correo para enviar una solicitud de reestablecimiento
</p>

<!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert> -->

<form
  (ngSubmit)="solicitarClave()"
  *ngIf="requestForm"
  [formGroup]="requestForm"
  aria-labelledby="title"
>
  <div class="form-control-group">
    <label class="label">Correo:</label>
    <input
      nbInput
      fullWidth
      shape="round"
      formControlName="correo"
      placeholder="Correo"
      autocomplete="on"
      pattern=".+@.+\..+"
      fieldSize="large"
    />

    <!-- Control de errores para el correo -->
    <div
      *ngIf="
        requestForm.get('correo').invalid && requestForm.get('correo').touched
      "
    >
      <p
        class="caption status-danger"
        *ngIf="requestForm.get('correo').errors?.required"
      >
        El correo es requerido
      </p>

      <p
        class="caption status-danger"
        *ngIf="
          requestForm.get('correo').errors?.email &&
          requestForm.get('correo').errors?.pattern
        "
      >
        Debe ingresar un correo real
      </p>
    </div>
  </div>

  <button
    type="submit"
    nbButton
    status="success"
    [disabled]="requestForm.invalid"
  >
    Enviar correo
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Regresar</a></p>
</section>
