<div class="container">

  <!-- <div class="col-lg-12">            
    <button id="btnNuevo" type="button" class="btn btn-info" data-toggle="modal"><i class="material-icons">library_add</i></button>    
    </div>     -->
  <table id="datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table table-hover table table-striped table-dark row-border hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Área</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td>{{ d.idArea }}</td>
        <td>{{ d.desArea }}</td>

        <td>
          <!-- <a role="button" [routerLink]="['../EditarArea', d.idArea]">
            <i class="nb-compose"></i>
          </a> -->
          <button type="button" class="btn btn-info" [routerLink]="['../EditarArea', d.idArea]"> <i class="nb-compose" ></i></button>
          <!-- <a role="button" (click)="confirmacion(d.idArea)">
            <i class="nb-trash"></i>
          </a> -->
          <button type="button" (click)="confirmacion(d.idArea)" class="btn btn-info" >           <i class="nb-trash"></i></button>

        </td>
      </tr>
    </tbody>
  </table>
</div>