<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Paso #1</ng-template>
        <h3>#1 Selección del personal</h3>

        <div class="col-md-8 mx-auto">
          <!--                              Con pipe async
          <ng-autocomplete [data]="areas$ | async" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate" placeholder="Ingrese el área" (selected)='reconstruir($event)'>
          </ng-autocomplete> -->

          <ng-autocomplete [data]="areas" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate" placeholder="Ingrese el área" (selected)='reconstruir($event)'>
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.desArea"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>



        <nb-card-body>
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Cédula</th>
                  <th scope="col">Primer nombre</th>
                  <th scope="col">Segundo nombre</th>
                  <th scope="col">Primer apellido</th>
                  <th scope="col">Segundo apellido</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Asignar usuario</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of data">
                  <td>{{ p.cedula }}</td>
                  <td>{{ p.pNombre }}</td>
                  <td>{{ p.sNombre }}</td>
                  <td>{{ p.pApellido }}</td>
                  <td>{{ p.sApellido }}</td>
                  <td>{{ p.tipo }}</td>
                  <td>{{ p.estado?"Activo":"Inactivo" }}</td>
                  <td>
                    <button class="btn btn-primary" nbStepperNext (click)='asignarPersona(p)'><i
                        class="nb-compose"></i></button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>

      </nb-step>

      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Paso #2</ng-template>
        <h3>#2 Registrar</h3>


        <form [formGroup]="usuarioForm" *ngIf="usuarioForm" (ngSubmit)="guardar()">
          <div class="row">
            <div class="col-md-6">


              <div *ngIf="usuarioForm.get('Correo').invalid && usuarioForm.get('Correo').touched">

                <nb-alert status="danger" *ngIf="usuarioForm.get('Correo').hasError('required')">
                  El correo es obligatorio
                </nb-alert>

                <nb-alert status="danger" *ngIf="usuarioForm.get('Correo').hasError('maxlength')">
                  Debe ingresar un correo menor a 32 carácteres
                </nb-alert>
              </div>

              <div class="form-group">
                <label class="label">Correo</label>
                <input type="email" formControlName="Correo" nbInput fullWidth />
              </div>
            </div>

            <div class="col-md-6">

              <div *ngIf="usuarioForm.get('Clave').invalid && usuarioForm.get('Clave').touched">

                <nb-alert status="danger" *ngIf="usuarioForm.get('Clave').hasError('required')">
                  La clave es obligatoria
                </nb-alert>

                <nb-alert status="danger" *ngIf="usuarioForm.get('Clave').hasError('maxlength')">
                  Debe ingresar una clave menor a 128 carácteres
                </nb-alert>
              </div>

              <div class="form-group">
                <label class="label">Clave</label>
                <input type="text" formControlName="Clave" nbInput fullWidth>
              </div>

            </div>
            <!-- Para confirmar clave -->
            <!-- <div class="col-md-6">
               <div class="form-group">
                <label class="label">Cantidad Miníma</label>
                <input type="text" formControlName="Correo" nbInput fullWidth>
              </div>
            </div> -->
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- <nb-alert status="danger"
                *ngIf="usuarioForm.get('tipoMaterial').hasError('required') && usuarioForm.get('tipoMaterial').touched">
                Debe de seleccionar una opción
              </nb-alert>
              <div class="form-group">
                <label class="label">Tipo de material</label>
                <select class="form-control" formControlName="tipoMaterial">
                  <option value="">Seleccione</option>
                  <option *ngFor="let item of tipoMaterial" [value]="item.tipoM">{{item.tipoM}}</option>
                </select>
              </div> -->


              <div class="form-group">
                <label class="label">Estado</label>
                <select class="form-control" formControlName="Estado">
                  <option *ngFor="let e of estado" [ngValue]="e.Estado">{{e.Descripcion}}</option>
                </select>
              </div>



            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label">Rol</label>
                <select class="form-control" formControlName="Rol">
                  <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                </select>
              </div>
            </div>
          </div>

          <button id="b1" class="b1" type="submit" [disabled]="usuarioForm.invalid" nbButton
            status="primary">Guardar</button>
        </form>

        <button nbButton nbStepperPrevious>Atrás</button>
        <!--<button nbButton disabled nbStepperNext>Siguiente</button> -->
      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>