<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper #stepper orientation="horizontal">
      <!-- Listado de eventos -->

      <nb-step label="Búsqueda de evento">
        <h3>Eventos</h3>
        <nb-card-body>
          <div class="row">
            <div class="col-md-8 mx-auto">
              <ng-autocomplete
                [data]="planes"
                [searchKeyword]="keyword[1]"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                placeholder="Ingrese el plan"
                (selected)="reconstruir($event)"
                notFoundText="No se encontró"
              >
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.descripcion"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <br /><br />
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <ng2-smart-table
                  [settings]="settings"
                  [source]="smartEvento"
                  (edit)="onEditRowSelect($event)"
                  (delete)="confirmacion($event)"
                >
                </ng2-smart-table>
              </div>
            </div>
          </div>

          <button nbButton [routerLink]="['../RegistrarEventos']">Atrás</button>
        </nb-card-body>
      </nb-step>

      <!-- Evento seleccionado -->

      <nb-step label="Edición de evento">
        <h3>Editar evento</h3>

        <nb-card-body>
          <form [formGroup]="eventoForm" *ngIf="eventoForm">
            <label class="label">Descripción</label>
            <div class="row">
              <div class="col-md-10">
                <textarea
                  rows="2"
                  formControlName="desEvento"
                  nbInput
                  fullWidth
                  shape="round"
                  placeholder="Descripción del evento"
                ></textarea>
              </div>

              <div
                *ngIf="
                  eventoForm.get('desEvento').invalid &&
                  eventoForm.get('desEvento').touched
                "
              >
                <p
                  class="caption status-danger"
                  *ngIf="
                    eventoForm.get('desEvento').hasError('required') ||
                    eventoForm.get('desEvento').hasError('incorrecto')
                  "
                >
                  La descripción es obligatoria
                </p>

                <p
                  class="caption status-danger"
                  *ngIf="eventoForm.get('desEvento').hasError('maxlength')"
                >
                  Debe de ingresar descripción menor o igual a 124 carácteres
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label">Planificación</label>
                  <ng-autocomplete
                    [data]="planes"
                    [searchKeyword]="keyword[1]"
                    [itemTemplate]="itemTemplatePlan"
                    formControlName="planificacionId"
                    [notFoundTemplate]="notFoundTemplatePlan"
                    placeholder="Ingrese el plan"
                    [initialValue]="planes[0]"
                    notFoundText="No se encontró"
                    [historyHeading]="historyHeading"
                  >
                  </ng-autocomplete>

                  <ng-template #itemTemplatePlan let-plan>
                    <a [innerHTML]="plan.descripcion"></a>
                  </ng-template>

                  <ng-template #notFoundTemplatePlan let-notFoundPlan>
                    <div [innerHTML]="notFoundPlan"></div>
                  </ng-template>

                  <p
                    class="caption status-danger"
                    *ngIf="
                      eventoForm.get('planificacionId').hasError('required') ||
                      (eventoForm
                        .get('planificacionId')
                        .hasError('incorrecto') &&
                        eventoForm.get('planificacionId').touched)
                    "
                  >
                    La planificación es obligatoria
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="label">Área</label>

                  <ng-autocomplete
                    [data]="areas"
                    [searchKeyword]="keyword[0]"
                    formControlName="areaId"
                    [initialValue]="areas[0]"
                    [itemTemplate]="itemTemplateArea"
                    [notFoundTemplate]="notFoundTemplateArea"
                    placeholder="Ingrese el área"
                    notFoundText="No se encontró"
                    [historyHeading]="historyHeading"
                  >
                  </ng-autocomplete>
                  <ng-template #itemTemplateArea let-area>
                    <a [innerHTML]="area.desArea"></a>
                  </ng-template>
                  <ng-template #notFoundTemplateArea let-notFoundArea>
                    <div [innerHTML]="notFoundArea"></div>
                  </ng-template>
                  <p
                    class="caption status-danger"
                    *ngIf="
                      eventoForm.get('areaId').hasError('required') ||
                      (eventoForm.get('areaId').hasError('incorrecto') &&
                        eventoForm.get('areaId').touched)
                    "
                  >
                    El área es obligatoria
                  </p>
                </div>
              </div>
            </div>

            <button
              nbButton
              [disabled]="eventoForm.invalid"
              (click)="editarEvento()"
            >
              Editar evento
            </button>
          </form>

          <button nbButton nbStepperPrevious>Regresar</button>

          <button nbButton (click)="cargarDetalles()">Editar detalles</button>
        </nb-card-body>
      </nb-step>

      <!-- Detalles del evento -->
      <nb-step label="Editar detalles">
        <h3>Detalles</h3>
        <nb-card-body>
          <form [formGroup]="detalleEventoForm" *ngIf="detalleEventoForm">
            <div class="row">
              <!-- Hora -->

              <div class="form-group">
                <div class="col-md-2">
                  <label class="label">Hora</label>

                  <input
                    nbInput
                    type="text"
                    formControlName="hora"
                    [nbTimepicker]="timepickerHora"
                  />
                  <nb-timepicker
                    #timepickerHora
                    twelveHoursFormat
                  ></nb-timepicker>

                  <div
                    *ngIf="
                      detalleEventoForm.get('hora').invalid &&
                      detalleEventoForm.get('hora').touched
                    "
                  >
                    <p
                      class="caption status-danger"
                      *ngIf="detalleEventoForm.get('hora').hasError('required')"
                    >
                      La hora es requerida
                    </p>

                    <p
                      class="caption status-danger"
                      *ngIf="
                        detalleEventoForm.get('hora').hasError('maxlength')
                      "
                    >
                      Debe de ingresar hora menor o igual a 32 carácteres
                    </p>
                  </div>
                </div>
              </div>

              <!-- FECHA -->
              <div class="form-group">
                <div class="col-md-2">
                  <label class="label">Fecha</label>
                  <input
                    type="date"
                    nbInput
                    placeholder="Fecha del evento"
                    formControlName="fecha"
                  />

                  <p
                    class="caption status-danger"
                    *ngIf="
                      detalleEventoForm.get('fecha').hasError('required') &&
                      detalleEventoForm.get('fecha').touched
                    "
                  >
                    La fecha es requerida
                  </p>
                </div>
              </div>

              <!-- Municipio -->
              <div class="col-md-2">
                <div class="form-group">
                  <label class="label">Municipio</label>

                  <ng-autocomplete
                    [data]="municipios"
                    [searchKeyword]="keyword[2]"
                    formControlName="municipioId"
                    [initialValue]="municipios[0]"
                    [itemTemplate]="itemTemplateMun"
                    [notFoundTemplate]="notFoundTemplateMun"
                    placeholder="Ingrese el municipio"
                    notFoundText="No se encontró"
                  >
                  </ng-autocomplete>

                  <ng-template #itemTemplateMun let-mun>
                    <a [innerHTML]="mun.desMunicipio"></a>
                  </ng-template>

                  <ng-template #notFoundTemplateMun let-notFoundMun>
                    <div [innerHTML]="notFoundMun"></div>
                  </ng-template>
                  <p
                    class="caption status-danger"
                    *ngIf="
                      detalleEventoForm
                        .get('municipioId')
                        .hasError('required') ||
                      (detalleEventoForm
                        .get('municipioId')
                        .hasError('incorrecto') &&
                        detalleEventoForm.get('municipioId').touched)
                    "
                  >
                    El Municipio es obligatorio
                  </p>
                </div>
              </div>

              <!-- Participantes -->
              <div class="col-md-2">
                <div class="form-group">
                  <label class="label">Participantes</label>

                  <input
                    type="number"
                    formControlName="participantesProyectado"
                    nbInput
                    fullWidth
                  />
                  <p
                    class="caption status-danger"
                    *ngIf="
                      detalleEventoForm
                        .get('participantesProyectado')
                        .hasError('required') &&
                      detalleEventoForm.get('participantesProyectado').touched
                    "
                  >
                    La cantidad de participantes es requerida
                  </p>
                </div>
              </div>
              <!-- Estado -->
              <div class="col-md-2">
                <div class="form-group">
                  <label class="label">Estado</label>
                  <input
                    type="text"
                    formControlName="estado"
                    nbInput
                    fullWidth
                    [attr.disabled]="true"
                  />

                  <div
                    *ngIf="
                      detalleEventoForm.get('estado').invalid &&
                      detalleEventoForm.get('estado').touched
                    "
                  >
                    <p
                      class="caption status-danger"
                      *ngIf="
                        detalleEventoForm.get('estado').hasError('required') ||
                        detalleEventoForm.get('estado').hasError('whitespace')
                      "
                    >
                      El estado es requerido
                    </p>

                    <p
                      class="caption status-danger"
                      *ngIf="
                        detalleEventoForm.get('estado').hasError('maxlength')
                      "
                    >
                      Debe de ingresar un estado menor o igual a 32 carácteres
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Observacion -->
            <div class="row">
              <div class="col-md-12">
                <label class="label">Observación</label>
                <textarea
                  rows="5"
                  formControlName="observaciones"
                  nbInput
                  fullWidth
                  shape="round"
                  placeholder="Observación"
                ></textarea>
                <p
                  class="caption status-danger"
                  *ngIf="
                    detalleEventoForm
                      .get('observaciones')
                      .hasError('maxlength') &&
                    detalleEventoForm.get('observaciones').touched
                  "
                >
                  Debe de ingresar una Observación menor o igual a 512
                  carácteres
                </p>
              </div>
              <button
                nbButton
                (click)="agregarTabla()"
                [disabled]="detalleSeleccionado == null"
              >
                Actualizar
              </button>
              <button
                nbButton
                (click)="registrarDetalle()"
                [disabled]="
                  detalleEventoForm.invalid || this.detalleSeleccionado != null
                "
              >
                Nuevo
              </button>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="label">Detalles de eventos</label>
                <ng2-smart-table
                  [settings]="settingsDetalle"
                  [source]="smartDetalle"
                  (edit)="onEditarDetalle($event)"
                  (delete)="onBorrarDetalle($event)"
                >
                </ng2-smart-table>
              </div>
            </div>
          </div>

          <button nbButton nbStepperPrevious>Regresar</button>
        </nb-card-body>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
