<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Registro de roles
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="registrarRolForm" (ngSubmit)="guardar()">
          <div class="row">
            <div class="col-md-12">
              <nb-alert status="danger"
                *ngIf="registrarRolForm.get('desRol').hasError('required') && registrarRolForm.get('desRol').touched">
                Debe de ingresar una descripción menor a 512 carácteres
              </nb-alert>
              <label class="label">Descripción del rol</label>
              <textarea rows="3" formControlName="desRol" nbInput fullWidth></textarea>
            </div>
          </div>
          <button type="submit" [disabled]="registrarRolForm.invalid" nbButton status="success">Guardar</button>

        </form>
      </nb-card-body>
      <nb-card-footer>
        <button (click)="limpiar()" nbButton status="danger">Cancelar</button>
        <button [routerLink]="['../ListarRol']" nbButton status="success"> Atrás</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>