<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> Registro de roles </nb-card-header>
      <nb-card-body>
        <form [formGroup]="rolForm" *ngIf="rolForm" (ngSubmit)="guardar()">
          <div class="row">
            <div class="col-md-12">
              <label class="label">Descripción del rol</label>
              <textarea
                rows="3"
                formControlName="desRol"
                nbInput
                fullWidth
              ></textarea>
              <div
                *ngIf="
                  rolForm.get('desRol').touched && rolForm.get('desRol').invalid
                "
              >
                <p
                  class="caption status-danger"
                  *ngIf="
                    rolForm.get('desRol').hasError('required') ||
                    rolForm.get('desRol').hasError('incorrecto')
                  "
                >
                  La descripción es requerida
                </p>
                <p
                  class="caption status-danger"
                  *ngIf="rolForm.get('desRol').hasError('maxlength')"
                >
                  Debe de ingresar una descripción menor a 512 carácteres
                </p>
              </div>
            </div>
          </div>
          <button
            type="submit"
            [disabled]="rolForm.invalid"
            nbButton
            status="success"
          >
            Guardar
          </button>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button (click)="limpiar()" nbButton status="danger">Cancelar</button>
        <button [routerLink]="['../ListarRol']" nbButton status="success">
          Atrás
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
