<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Listado de unidades de medida
        <button
          size="small"
          id="b3"
          mat-button
          class="b3"
          [routerLink]="['../RegistrarUnidadMedida']"
          nbButton
          status="primary"
        >
          Nuevo
        </button>
      </nb-card-header>
      <nb-card-body>
        <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-hover table table-striped table-dark row-border hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Descripción</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of data">
              <td>{{ u.descripUnidadMedida }}</td>
              <td>


                <button type="button" class="btn btn-info" [routerLink]="['../EditarUnidadMedida', u.idUnidadMedida]"><i
                    class="nb-compose"></i></button>

                <button type="button" (click)="confirmacion( u)" class="btn btn-danger"> <i
                    class="nb-trash"></i></button>


              </td>
            </tr>
          </tbody>
        </table> -->
        <ng2-smart-table
          [settings]="settings"
          [source]="sourceSmart"
          (edit)="editarRegistro($event)"
          (delete)="confirmacion($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
