<nb-card>
  <nb-card-header>Transportes asignados</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <label class="label">Vehículos activos y asignados</label>
          <br />
        </div>
        <br />
        <br />

        <ng2-smart-table
          [settings]="settingsTransporteTotal"
          [source]="smartTransportes"
          (userRowSelect)="agregarArreglo($event)"
        >
        </ng2-smart-table>
      </div>
      <button
        nbButton
        status="info"
        (click)="guardar()"
        [disabled]="elementosSeleccionados.length == 0"
      >
        Guardar como disponibles
      </button>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="danger" (click)="cerrar()">Cancelar</button>
  </nb-card-footer>
</nb-card>
